<?xml version="1.0" encoding="UTF-8"?>
<!--
  'key' : View Adı ya da opsiyon adı.
  'value': View'ın kısa klasör yolu.
  'state': true/false durumu ya da opsyion değeri.
  'style': 'css dosya yolu'
  
  not: state'i false olan bir view'in karşılığı olan stil dosyaları css derlemesine dahil edilmezler.
-->
<variables> 
  <variable key="Production" state="false"/>
  <variable key="ProductLoadMode" state="loadmore"/>
  <variable key="NotFoundView" value="NotFound" style="Shared/NotFound.scss" />
  <!-- HEAD VIEWS -->
  <variable key="MetaTagsView" value="Assets/MetaTags" />
  <variable key="CanonicalView" value="Assets/Canonical" />
  <variable key="PreloadsView" value="Assets/Preloads" />
  <variable key="StylesView" value="Assets/Styles" />
  <variable key="JavaScriptsView" value="Assets/JavaScripts" />
  <variable key="JsVariablesView" value="Assets/JsVariables" />
  <!-- LAYOUT VIEWS -->
  <variable key="HeaderView" value="Header/Header" style="Shared/Header/Header.scss" />
  <variable key="HeaderCategoriesView" value="Header/Categories" style="Shared/Header/Categories.scss" />
  <variable key="HeaderMemberView" value="Header/Member" style="Shared/Header/Member.scss" />
  <variable key="HeaderLanguagesView" value="Header/Languages" style="Shared/Header/Languages.scss" />
  <variable key="SidebarView" value="Header/Sidebar" />
  <variable key="FooterView" value="Footer/Footer" style="Shared/Footer/Footer.scss" />
  <!-- MOBILE MENU VIEW -->
  <!--<variable key="MobileMenuView" value="PMobileMenu" style="Layout/MobileMenu.scss"/>-->
</variables>